{
	"firstName" : "$firstName",
	"lastName" : "$lastName",
	"username" : "$username",
	"password" : "$password",
	"authCode" : "$authCode",
	"myAccountLogIn" : "@LOGIN_URL@",
	"subject" : "Use the validation code to complete your registration",
	"project" : "Enrollment Alerts"
}
