{
	"firstName" : "$firstName",
	"lastName" : "$lastName",
	"accountNumber" : "$accountNumber",
	"myAccountLogIn" : "@LOGIN_URL@",
	"subject" : "Digital Self Service - Update automatic payment successful",
	"project" : "Payment Alerts"
}
