#set($payments = $json.parse($groupingData))
#set($displayAccountNumber = $payments[0].displayAccountNumber)
#if ($displayAccountNumber && $displayAccountNumber.length() >= 4 && !$displayAccountNumber.startsWith("*"))
    #set($index = $displayAccountNumber.length() - 4)
    #set($maskedAccountNumber = "***" + $displayAccountNumber.substring($index))
#else
    #set($maskedAccountNumber = $displayAccountNumber)
#end
{
	"firstName" : "$firstName",
	"lastName" : "$lastName",
	"payDate" : "$paymentDate",
	"transactionId": "$transactionId",
	"surchargeFlag" : "$surchargeFlag",
	"sourceType" : "$sourceType",
#if( $sourceName )
	"walletNickName" : "$sourceName",
#end
	"dateOfAuthorization" : "$currentDate",
	"accountNumber" : "$maskedAccountNumber",
	"amount" : "$currencyTool.format($currency, $payments[0].amount)",
	"surcharge" : "$currencyTool.format($currency, $payments[0].surcharge)",
	"totalAmount":"$currencyTool.format($currency, $payments[0].totalAmount)",
	"myAccountLogIn" : "@LOGIN_URL@",
	"subject" : "An online payment has been scheduled",
	"project" : "Payment Alerts"
}
