#set($displayAccountNumber = $accountNumber)
#if ($displayAccountNumber && $displayAccountNumber.length() >= 4 && !$displayAccountNumber.startsWith("*"))
    #set($index = $displayAccountNumber.length() - 4)
    #set($maskedAccountNumber = "***" + $displayAccountNumber.substring($index))
#else
    #set($maskedAccountNumber = $displayAccountNumber)
#end
{
	"accountNumber" : "$maskedAccountNumber",
	"walletNickName" : "$walletNickName",
	"myAccountLogIn" : "@LOGIN_URL@",
	"subject" : "1st Franklin – Automatic payment rule canceled",
	"project" : "Payment Alerts"
}
