{
	"firstName" : "$firstName",
	"lastName" : "$lastName",
	"accountNumber" : "$accountNumber",
	"myAccountLogIn" : "@LOGIN_URL@",
	"subject" : "A recurring payment has been created successfully",
	"project" : "Payment Alerts"
}
