#set($mappedCaseId = $caseId)
#if ($caseId == "case1")
    #set($mappedCaseId = "case1")
#elseif ($caseId == "case2" || $caseId == "case4")
    #set($mappedCaseId = "case2")
#elseif ($caseId == "case5")
    #set($mappedCaseId = "case9")
#elseif ($caseId == "case5s")
    #set($mappedCaseId = "case8s")
#end
#set($displayAccountNumber = $accountNumber)
#if ($displayAccountNumber && $displayAccountNumber.length() >= 4 && !$displayAccountNumber.startsWith("*"))
    #set($index = $displayAccountNumber.length() - 4)
    #set($maskedAccountNumber = "***" + $displayAccountNumber.substring($index))
#else
    #set($maskedAccountNumber = $displayAccountNumber)
#end
{
    "firstName" : "$firstName",
    "lastName" : "$lastName",
    "sourceName" : "$sourceName",
    "accountNumber" : "$maskedAccountNumber",
    "amount" : "$currencyTool.format($currency, $amount)",
    "surchargeAmount" : "$currencyTool.format($currency, $surchargeAmount)",
    "totalPaidAmount" : "$currencyTool.format($currency, $totalPaidAmount)",
    "minAmount" : "$currencyTool.format($currency, $minAmount)",
    "balAmount" : "$currencyTool.format($currency, $balAmount)",
    "caseId" : "$mappedCaseId",
    "myAccountLogIn" : "@LOGIN_URL@",
    "subject" : "We have an update on your recurring payment.",
    "project" : "Payment Alerts"
}
