{
	"firstName" : "$firstName",
	"lastName" : "$lastName",
	"nickName" : "$nickName",
	"accountNumber" : "$accountNumber",
	"myAccountLogIn" : "@LOGIN_URL@",
	"subject" : "A payment method was successfully updated",
	"project" : "Payment Alerts"
}
