#set($displayAccountNumber = $accountNumber)
#if ($displayAccountNumber && $displayAccountNumber.length() >= 4 && !$displayAccountNumber.startsWith("*"))
    #set($index = $displayAccountNumber.length() - 4)
    #set($maskedAccountNumber = "***" + $displayAccountNumber.substring($index))
#else
    #set($maskedAccountNumber = $displayAccountNumber)
#end
{
	"firstName" : "$firstName",
	"lastName" : "$lastName",
	"nickName" : "$nickName",
	"accountNumber" : "$maskedAccountNumber",
	"myAccountLogIn" : "@LOGIN_URL@",
	"subject" : "Payment method successfully added",
	"project" : "Payment Alerts"
}
