{
	"accountNumber" : "$accountNumber",
	"walletNickName" : "$walletNickName",
	"myAccountLogIn" : "@LOGIN_URL@",
	"subject" : "1st Franklin – Automatic payment rule canceled",
	"project" : "Payment Alerts"
}
