{
	"firstName" : "$firstName",
	"lastName" : "$lastName",
	"authCode" : "$authCode",
	"passwordAuthCode" : "$passwordAuthCode",
	"myAccountLogIn" : "@LOGIN_URL@",
	"subject" : "Digital Self Service - Forgot Password?",
	"project" : "Login Alerts"
}
