{
	"firstName" : "$firstName",
	"lastName" : "$lastName",
	"username" : "$username",
	"twoFARecoveryAuthCode" : "$twoFARecoveryAuthCode",
	"myAccountLogIn" : "@LOGIN_URL@",
	"subject" : "Let’s help recover your two-factor authentication option.",
	"project" : "Login Alerts"
}
