{
	"firstName" : "$firstName",
	"lastName" : "$lastName",
	"myAccountLogIn" : "@LOGIN_URL@",
	"subject" : "Your two-factor authentication settings have been reset",
	"project" : "Login Alerts"
}
