{
	"firstName" : "$firstName",
	"lastName" : "$lastName",
	"authCode" : "$authCode",
	"myAccountLogIn" : "@LOGIN_URL@",
	"subject" : "Let’s help get you back into your account",
	"project" : "Login Alerts"
}
