{
	"firstName" : "$firstName",
	"lastName" : "$lastName",
	"temp_password" : "$temp_password",
	"secretQuestionAnswer1" : "$secretQuestionAnswer1",
	"myAccountLogIn" : "@LOGIN_URL@",
	"subject" : "Digital Self Service - Reset Password/Secret Questions",
	"project" : "Login Alerts"
}
