{
	"firstName" : "$firstName",
	"lastName" : "$lastName",
	"temp_password" : "$temp_password",
	"myAccountLogIn" : "@LOGIN_URL@",
	"subject" : "Digital Self Service - Temporary Password",
	"project" : "Login Alerts"
}
