{
	"firstName" : "$firstName",
	"lastName" : "$lastName",
	"authCode" : "$authCode",
	"myAccountLogIn" : "@LOGIN_URL@",
	"subject" : "Digital Self Service - Reset Password/Secret Questions",
	"project" : "Login Alerts"
}
