<configuration scan="true">
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com" level="debug"/>
    <logger name="org" level="debug"/>
    <logger name="log" level="debug"/>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>