{ 
	"firstName" : "$firstName",
	"lastName" : "$lastName",
	"accountNumber" : "$accountNumber",
	"billDate" : "$date.format('MM/dd/yyyy', $date.toDate('yyyyMMdd', $billDate))",
	"billAmount" : "$currencyTool.format($currency, $billAmount)",
	"myAccountLogIn" : "@LOGIN_URL@",
	"subject" : "Your monthly statement is now available",
	"project" : "Bill Alerts"
}
