{ 
	"firstName" : "$firstName",
	"lastName" : "$lastName",
   	"num_Accounts": "$NUM_ACCOUNTS",
    	"dueDate": "$date.format('MM/dd/yyyy', $date.toDate('yyyyMMdd', $UPCOMING_BILL_DATE))",
	"amountDue": "$currencyTool.format($currency, $TOTAL_AMOUNT_DUE)",
	"myAccountLogIn" : "@LOGIN_URL@",
	"subject: "Digital Self Service - New Documents Available",
	"project" : "Bill Alerts"
}
