{
	"accountNumber" : "$accountNumber",
	"emailMessage" : "$emailMessage",
	"myAccountLogIn" : "@LOGIN_URL@",
	"subject" : "Digital Self Service - Correspondence Documents",
	"project" : "Bill Alerts"
}
