#set($displayAccountNumber = $accountNumber)
#if ($displayAccountNumber && $displayAccountNumber.length() >= 4 && !$displayAccountNumber.startsWith("*"))
    #set($index = $displayAccountNumber.length() - 4)
    #set($maskedAccountNumber = "***" + $displayAccountNumber.substring($index))
#else
    #set($maskedAccountNumber = $displayAccountNumber)
#end
{
	"accountNumber" : "$maskedAccountNumber",
	"emailMessage" : "$emailMessage",
	"myAccountLogIn" : "@LOGIN_URL@",
	"subject" : "Digital Self Service - Correspondence Documents",
	"project" : "Bill Alerts"
}
