{
	"firstName" : "$firstName",
	"lastName" : "$lastName",
	"validationCode" : "$validationCode",
	"myAccountLogIn" : "@LOGIN_URL@",
	"subject" : "Digital Self Service - Change SMS Confirmation",
	"project" : "Profile Alerts"
}
