{
	"firstName" : "$firstName",
	"lastName" : "$lastName",
	"myAccountLogIn" : "@LOGIN_URL@",
	"subject" : "Your 1st Franklin Online Services account has been updated",
	"project" : "Profile Alerts"
}
