{
	"firstName" : "$firstName",
	"lastName" : "$lastName",
	"validationCode" : "$validationCode",
	"myAccountLogIn" : "@LOGIN_URL@",
	"subject" : "Let’s finish updating your E-mail Address",
	"project" : "Profile Alerts"
}
