{
	"firstName" : "$firstName",
	"lastName" : "$lastName",
	"paperBillingEnabled" : "$paperBillingEnabled",
	"myAccountLogIn" : "@LOGIN_URL@",
	"subject": "Your preference on paper billing has changed.",
	"project" : "Profile Alerts"
}
