{
	"firstName" : "$firstName",
	"lastName" : "$lastName",
	"twoFactorAuthMethod" : "$twoFactorAuthMethod",
	"myAccountLogIn" : "@LOGIN_URL@",
	"subject" : "Your two-factor authentication settings have changed.",
	"project" : "Profile Alerts"
}
